<% if %w[Менеджер Админ].include?(current_account.role.role_name) %>
  <div class="all_tickets_wrapper">
    <div class="all_new_tickets_wrapper tickets_container">
      <% if @new_tickets.any? %>
        <b>Новые заявки:</b>
        <% @new_tickets.each do |ticket| %>
          <div class="new_ticket_wrapper ticket_wrapper">
            <b>Заявка №<%= ticket.id %> <br> <%= ticket.title %></b>
            <br>
            <br>
            <div class="ticket_body"><%= ticket.body %></div>
            <span> Клиент: ID: <%= ticket.account_id %> | Email: <%= ticket.account.email %> </span>
            <br>
            <span> Ответственный:
              <% if ticket.responsible_id.present? %>
              ID: <%= ticket.responsible_id %> | Email: <%= Account.find(ticket.responsible_id).email %>
            <% else %>
              Не назначен
            <% end %>
          </span>
            <br>
            <span>Статус заявки: <b><%= ticket.ticket_status.status_name %></b></span>
            <br>
            <span>Тип заявки: <b><%= ticket.ticket_type.type_name %></b></span>

            <%= form_with(model: ticket, local: true) do |f| %>
              Сменить тип на <%= f.collection_select :ticket_type_id, TicketType.all, :id, :type_name, prompt: "Выберите тип заявки" %>
              <br>
              Сменить
              статус на <%= f.collection_select :ticket_status_id, TicketStatus.all, :id, :status_name, prompt: "Выберите статус" %>
              <br>
              Установить
              ответственного: <%= f.collection_select :responsible_id, @all_lines_accounts, :id, :email, prompt: 'Выберите ответственного' %>
              <br>
              <%= f.submit 'Обновить' %>
            <% end %>
            <br>
            <span>Создана: <%= ticket.created_at %></span>
            <br>
            <span>Обновлена: <%= ticket.updated_at %></span>
          </div>
        <% end %>
      <% else %>
          <b>Новых заявок не обнаружено ╮(￣ω￣;)╭</b>
      <% end %>
    </div>

    <% if @in_work_tickets.any? %>
      <div class="all_tickets_in_work_wrapper tickets_container">
        <b>Заявки в работе:</b>
        <% @in_work_tickets.each do |ticket| %>
          <div class="ticket_in_work_wrapper ticket_wrapper">
            <b>Заявка №<%= ticket.id %> <br> <%= ticket.title %></b>
            <div class="ticket_body"><%= ticket.body %></div>
            <span> Клиент: ID: <%= ticket.account_id %> | Email: <%= ticket.account.email %> </span>

            <span> Ответственный:
              <% if ticket.responsible_id.present? %>
            ID: <%= ticket.responsible_id %> | Email: <%= Account.find(ticket.responsible_id).email %>
          <% else %>
            Не назначен
          <% end %>
        </span>
            <span>Статус заявки: <b><%= ticket.ticket_status.status_name %></b></span>

            <%= form_with(model: ticket, local: true) do |f| %>
              Сменить
              статус: <%= f.collection_select :ticket_status_id, TicketStatus.all, :id, :status_name, prompt: "Выберите статус" %>
              <br>
              Сменить
              ответственного: <%= f.collection_select :responsible_id, @all_lines_accounts, :id, :email, prompt: 'Выберите ответственного' %>
              <br>
              <%= f.submit 'Обновить' %>
            <% end %>
            <span>Создана: <%= ticket.created_at %></span>
            <span>Обновлена: <%= ticket.updated_at %></span>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="all_tickets_in_work_wrapper tickets_container">
        <b>Заявок в работе не обнаружено ╮(￣ω￣;)╭</b>
      </div>
    <% end %>

    <% if @on_verification_tickets.any? %>
      <div class="all_tickets_on_verification_wrapper tickets_container">
        <b>Заявки на проверке у клиента:</b>
        <% @on_verification_tickets.each do |ticket| %>
          <div class="ticket_on_verification_wrapper ticket_wrapper">
            <b>Заявка №<%= ticket.id %> <br> <%= ticket.title %></b>
            <div class="ticket_body"><%= ticket.body %></div>
            <span> Клиент: ID: <%= ticket.account_id %> | Email: <%= ticket.account.email %> </span>

            <span> Ответственный:
              <% if ticket.responsible_id.present? %>
            ID: <%= ticket.responsible_id %> | Email: <%= Account.find(ticket.responsible_id).email %>
          <% else %>
            Не назначен
          <% end %>
        </span>
            <span>Статус заявки: <b><%= ticket.ticket_status.status_name %></b></span>

            <%= form_with(model: ticket, local: true) do |f| %>
              Сменить
              статус: <%= f.collection_select :ticket_status_id, TicketStatus.all, :id, :status_name, prompt: "Выберите статус" %>
              <br>
              Сменить
              ответственного: <%= f.collection_select :responsible_id, @all_lines_accounts, :id, :email, prompt: 'Выберите ответственного' %>
              <br>
              <%= f.submit 'Обновить' %>
            <% end %>
            <span>Создана: <%= ticket.created_at %></span>
            <span>Обновлена: <%= ticket.updated_at %></span>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="all_tickets_on_verification_wrapper tickets_container">
        <b>Заявок на проверке обнаружено ╮(￣ω￣;)╭</b>
      </div>
    <% end %>

    <% if @closed_tickets.any? %>
      <div class="all_tickets_closed_wrapper tickets_container">
        <b>Закрытые зявки:</b>
        <% @closed_tickets.each do |ticket| %>
          <div class="ticket_closed_wrapper ticket_wrapper">
            <b>Заявка №<%= ticket.id %> <br> <%= ticket.title %></b>
            <div class="ticket_body"><%= ticket.body %></div>
            <span> Клиент: ID: <%= ticket.account_id %> | Email: <%= ticket.account.email %> </span>

            <span> Ответственный:
              <% if ticket.responsible_id.present? %>
            ID: <%= ticket.responsible_id %> | Email: <%= Account.find(ticket.responsible_id).email %>
          <% else %>
            Не назначен
          <% end %>
        </span>
            <span>Статус заявки: <b><%= ticket.ticket_status.status_name %></b></span>

            <%= form_with(model: ticket, local: true) do |f| %>
              Сменить
              статус: <%= f.collection_select :ticket_status_id, TicketStatus.all, :id, :status_name, prompt: "Выберите статус" %>
              <br>
              Сменить
              ответственного: <%= f.collection_select :responsible_id, @all_lines_accounts, :id, :email, prompt: 'Выберите ответственного' %>
              <br>
              <%= f.submit 'Обновить' %>
            <% end %>
            <span>Создана: <%= ticket.created_at %></span>
            <span>Обновлена: <%= ticket.updated_at %></span>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="all_tickets_closed_wrapper tickets_container">
        <b>Закрытых заявок не обнаружено ╮(￣ω￣;)╭</b>
      </div>
    <% end %>
  </div>
<% end %>