<% if @allowed_roles.include?(current_account.role_id) %>
  <%= render 'all_tickets_show' %>
  <% elsif current_account.role_id == 6 %>
    <p></p>
  <% else %>
    <p>У вас недостаточно прав для просмотра всех заявок.</p>
<% end %>

<% if current_account.role_id == 3 %>
  <%= render 'line_1_tickets' %>
<% end %>

<% if current_account.role_id == 2 %>
  <p></p>
<% else %>
  <p>Ваши заявки: </p>
<% end %>

<% current_account.ticket.each do |ticket| %>
  <p style="border: 1px solid black; width: fit-content; padding-right: 100px;">
    <b><%= ticket.title %></b>
    <br>
    <span><%= ticket.body %></span>
    <br>
    <span>Статус заявки: <%= ticket.status %></span>
  </p>
<% end %>
