<% if @closed_tickets.any? %>
  <div class="all_tickets_closed_wrapper tickets_container">
    <b>Закрытые зявки:</b>
    <% @closed_tickets.where(responsible_id: current_account.id).each do |ticket| %>
      <div class="ticket_closed_wrapper ticket_wrapper">
        <b>Заявка №<%= ticket.id %> <br> <%= ticket.title %></b>
        <span><%= ticket.body %></span>
        <span> Клиент: ID: <%= ticket.account_id %> | Email: <%= ticket.account.email %> </span>
        <span> Ответственный:
          <% if ticket.responsible_id.present? %>
            ID: <%= ticket.responsible_id %> | Email: <%= Account.find(ticket.responsible_id).email %>
          <% else %>
            Не назначен
          <% end %>
        </span>
        <span>Тип заявки: <b><%= ticket.ticket_type.type_name %></b></span>
        <span>Статус заявки: <b><%= ticket.ticket_status.status_name %></b></span>
        <span>Создана: <%= ticket.created_at %></span>
        <span>Обновлена: <%= ticket.updated_at %></span>

        <div class="ticket_tasks_wrapper">
          <details>
            <summary>Поручения:</summary>
            <% if ticket.ticket_tasks.any? %>
              <% ticket.ticket_tasks.each do |task| %>
                <div class="ticket_task">
                  <b>Задача № <%= task.id %> <br> <%= task.title %></b>
                  <span>ОТ: <%= Account.find(task.assigner_id).email %></span>
                  <span>КОМУ: <%= Account.find(task.executor_id).email %></span>
                  <div class="ticket_task_body">
                    <b>Подробности:</b>
                    <%= task.description %>
                  </div>
                  <span>Создана: <%= formatted_time(task.created_at) %></span>
                </div>
              <% end %>
            <% else %>
              <span>Поручений не обнаружено ╮(￣ω￣;)╭</span>
            <% end %>
          </details>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="all_tickets_closed_wrapper tickets_container">
    <b>Закрытых заявок не обнаружено ╮(￣ω￣;)╭</b>
  </div>
<% end %>