<div class="all_tickets_in_work_wrapper tickets_container">
  <% if @own_account_tickets.any? %>
    <b>Заявки в работе: </b>
    <% @own_account_tickets.where(ticket_status_id: 2).each do |ticket| %>
      <div class="ticket_in_work_wrapper ticket_wrapper">
        <b>Заявка №<%= ticket.id %> <br> <%= ticket.title %></b>
        <div class="ticket_body"><%= ticket.body %></div>
        <span> Клиент: ID: <%= ticket.account_id %> | Email: <%= ticket.account.email %> </span>
        <span>Статус: <b><%= ticket.ticket_status.status_name %></b></span>
        <span>Тип заявки: <b><%= ticket.ticket_type.type_name %></b></span>
        <span>Создана: <%= formatted_time(ticket.created_at) %></span>
        <span>Обновлена: <%= formatted_time(ticket.updated_at) %></span>
        <% if current_account.role.role_name == 'Работник 1 линии' %>
          <%= form_with(model: ticket, local: true) do |f| %>
            <%= f.hidden_field :ticket_status_id, value: 2 %>
            <%= f.collection_select :responsible_id, @all_2_line_accounts, :id, :email, prompt: 'Выберите ответственного' %>
            <%= f.submit 'Отправить на 2 линию', class: 'btn btn-primary' %>
          <% end %>
          <% elsif current_account.role.role_name == 'Работник 2 линии' %>
          <%= form_with(model: ticket, local: true) do |f1| %>
          <%= f1.hidden_field :ticket_status_id, value: 2 %>
          <%= f1.collection_select :responsible_id, @all_3_line_accounts, :id, :email, prompt: 'Выберите ответственного' %>
          <%= f1.submit 'Отправить на 3 линию', class: 'btn btn-primary' %>
          <% end %>
        <% end %>

        <br>
        <%= form_with(model: ticket, local: true) do |form| %>
          <%= form.hidden_field :ticket_status_id, value: 3 %>
          <%= form.submit 'Отправить на проверку', class: 'btn btn-primary' %>
        <% end %>

        <div class="ticket_tasks_wrapper">
          <details>
            <summary>Поручения:</summary>
            <% if ticket.ticket_tasks.any? %>
              <% ticket.ticket_tasks.each do |task| %>
                <div class="ticket_task">
                  <details>
                    <summary> <b>Поручение № <%= task.id %> <br> <%= task.title %></b> </summary>
                    <span>ОТ: <%= Account.find(task.assigner_id).email %></span>
                    <br>
                    <span>КОМУ: <%= Account.find(task.executor_id).email %></span>
                    <div class="ticket_task_body">
                      <b>Подробности:</b>
                      <%= task.description %>
                    </div>
                    <span>Создана: <%= formatted_time(task.created_at) %></span>
                    <span> Обновлена: <%= formatted_time(task.updated_at) %></span>
                    <span>Статус: <b> <%= task.task_status.task_status_name %> </b></span>
                    <% if task.task_status.task_status_name == "Ожидание" %>
                      <%= form_with(model: task, local: true) do |f| %>
                        <%= f.hidden_field :task_status_id, value: 2 %>
                        <%= f.submit 'В работу', class: 'btn btn-primary' %>
                      <% end %>
                    <% elsif task.task_status.task_status_name == "В работе" %>
                      <%= form_with(model: task, local: true) do |f| %>
                        <%= f.hidden_field :task_status_id, value: 3 %>
                        <%= f.submit 'Завершить', class: 'btn btn-primary' %>
                      <% end %>
                    <% elsif task.task_status.task_status_name == "Проблема" %>
                      <%= form_with(model: task, local: true) do |f| %>
                        <%= f.hidden_field :task_status_id, value: 3 %>
                        <%= f.submit 'Завершить', class: 'btn btn-primary' %>
                      <% end %>
                    <% end %>
                    <%= form_with(model: task, local: true) do |f| %>
                      <%= f.hidden_field :task_status_id, value: 4 %>
                      <%= f.submit 'Проблема', class: 'btn btn-danger' %>
                    <% end %>
                  </details>
                </div>
              <% end %>
            <% else %>
              <span>Поручений не обнаружено ╮(￣ω￣;)╭</span>
            <% end %>
          </details>
        </div>


      </div>
    <% end %>
  <% else %>
    <b>У вас нет заявок в работе ╮(￣ω￣;)╭</b>
  <% end %>
</div>