
<% if @new_tickets.any? %>
  <% if current_account.role.role_name == 'Работник 1 линии' %>
    <% @new_tickets.each do |ticket| %>
      <div class="all_new_tickets_wrapper tickets_container">
          <b>Новые заявки:</b>
            <div class="new_ticket_wrapper ticket_wrapper">
              <b>Заявка №<%= ticket.id %> <br> <%= ticket.title %></b>
              <div class="ticket_body"><%= ticket.body %></div>
              <span> Клиент: ID: <b><%= ticket.account_id %></b> | Email: <b><%= ticket.account.email %></b> </span>
              <br>
              <span>Статус: <b><%= ticket.ticket_status.status_name %></b></span> <br>
              <span>Тип заявки: <b><%= ticket.ticket_type.type_name %></b></span> <br>
              <span> Ответственный:
                <% if ticket.responsible_id.present? %>
                ID: <%= ticket.responsible_id %> | Email: <%= Account.find(ticket.responsible_id).email %>
              <% else %>
                Не назначен
              <% end %>
            </span>
              <br>
              <span>Создана: <%= ticket.created_at %></span>
              <br>
              <span>Обновлена: <%= ticket.updated_at %></span>
              <%= form_with(model: ticket, local: true) do |form| %>
                <%= form.hidden_field :responsible_id, value: current_account.id %>
                <%= form.hidden_field :ticket_status_id, value: 2 %>
                <%= form.submit 'В работу', class: 'btn btn-primary' %>
                <% end %>

              <div class="ticket_tasks_wrapper">
                <details>
                  <summary>Поручения:</summary>
                  <% if ticket.ticket_tasks.any? %>
                    <% ticket.ticket_tasks.each do |task| %>
                      <div class="ticket_task">
                        <b>Задача № <%= task.id %> <br> <%= task.title %></b>
                        <span>ОТ: <%= Account.find(task.assigner_id).email %></span>
                        <div class="ticket_task_body">
                          <b>Подробности:</b>
                          <%= task.description %>
                        </div>
                        <span>Создана: <%= formatted_time(task.created_at) %></span>
                      </div>
                    <% end %>
                    <% else %>
                      <span>Поручений не обнаружено ╮(￣ω￣;)╭</span>
                  <% end %>
                </details>
              </div>
            </div>
      </div>
    <% end %>
    <% elsif current_account.role.role_name != 'Работник 1 линии' && @new_tickets.where(responsible_id: current_account.id).any? %>
    <% @new_tickets.where(responsible_id: current_account.id).each do |ticket| %>
      <div class="all_new_tickets_wrapper tickets_container">
        <b>Новые заявки:</b>
        <div class="new_ticket_wrapper ticket_wrapper">
          <b>Заявка №<%= ticket.id %> <br> <%= ticket.title %></b>
          <div class="ticket_body"><%= ticket.body %></div>
          <span> Клиент: ID: <b><%= ticket.account_id %></b> | Email: <b><%= ticket.account.email %></b> </span>
          <br>
          <span>Статус: <b><%= ticket.ticket_status.status_name %></b></span> <br>
          <span>Тип заявки: <b><%= ticket.ticket_type.type_name %></b></span> <br>
          <span> Ответственный:
            <% if ticket.responsible_id.present? %>
                ID: <%= ticket.responsible_id %> | Email: <%= Account.find(ticket.responsible_id).email %>
              <% else %>
                Не назначен
              <% end %>
            </span>
          <br>
          <span>Создана: <%= ticket.created_at %></span>
          <br>
          <span>Обновлена: <%= ticket.updated_at %></span>
          <%= form_with(model: ticket, local: true) do |form| %>
            <%= form.hidden_field :responsible_id, value: current_account.id %>
            <%= form.hidden_field :ticket_status_id, value: 2 %>
            <%= form.submit 'В работу', class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    <% end %>
    <% else %>
      <div class = "all_new_tickets_wrapper tickets_container">
        <b>Новых заявок не обнаружено ╮(￣ω￣;)╭ </b>
      </div>
  <% end %>
<% else %>
  <div class = "all_new_tickets_wrapper tickets_container">
    <b>Новых заявок не обнаружено ╮(￣ω￣;)╭ </b>
  </div>
<% end %>
