<% if @on_verification_tickets.any? %>
  <div class="all_tickets_on_verification_wrapper tickets_container">
    <b>Заявки на проверке у клиента:</b>
    <% @own_account_tickets.where(ticket_status_id: 3).each do |ticket| %>
      <div class="ticket_on_verification_wrapper ticket_wrapper">
        <b>Заявка №<%= ticket.id %> <br> <%= ticket.title %></b>
        <div class="ticket_body"><%= ticket.body %></div>
        <span> Клиент: ID: <%= ticket.account_id %> | Email: <%= ticket.account.email %> </span>
        <span>Статус заявки: <b><%= ticket.ticket_status.status_name %></b></span>
        <span>Создана: <%= ticket.created_at %></span>
        <span>Обновлена: <%= ticket.updated_at %></span>
        <%#= form_with(model: ticket, local: true) do |form| %>
          <%#= form.hidden_field :ticket_status_id, value: 4 %>
          <%#= form.submit 'Завершить', class: 'btn btn-primary' %>
        <%# end %>

        <div class="ticket_tasks_wrapper">
          <details>
            <summary>Поручения:</summary>
            <% if ticket.ticket_tasks.any? %>
              <% ticket.ticket_tasks.each do |task| %>
                <div class="ticket_task">
                  <details>
                    <summary><b>Поручение № <%= task.id %> <br> <%= task.title %></b></summary>
                    <span>ОТ: <%= Account.find(task.assigner_id).email %></span>
                    <br>
                    <span>КОМУ: <%= Account.find(task.executor_id).email %></span>
                    <div class="ticket_task_body">
                      <b>Подробности:</b>
                      <%= task.description %>
                    </div>
                    <span>Создана: <%= formatted_time(task.created_at) %></span>
                    <span> Обновлена: <%= formatted_time(task.updated_at) %></span>
                    <span>Статус: <b> <%= task.task_status.task_status_name %> </b></span>
                    <% if task.task_status.task_status_name == "Ожидание" %>
                      <%= form_with(model: task, local: true) do |f| %>
                        <%= f.hidden_field :task_status_id, value: 2 %>
                        <%= f.submit 'В работу', class: 'btn btn-primary' %>
                      <% end %>
                    <% elsif task.task_status.task_status_name == "В работе" %>
                      <%= form_with(model: task, local: true) do |f| %>
                        <%= f.hidden_field :task_status_id, value: 3 %>
                        <%= f.submit 'Завершить', class: 'btn btn-primary' %>
                      <% end %>
                    <% elsif task.task_status.task_status_name == "Проблема" %>
                      <%= form_with(model: task, local: true) do |f| %>
                        <%= f.hidden_field :task_status_id, value: 3 %>
                        <%= f.submit 'Завершить', class: 'btn btn-primary' %>
                      <% end %>
                    <% end %>
                    <%= form_with(model: task, local: true) do |f| %>
                      <%= f.hidden_field :task_status_id, value: 4 %>
                      <%= f.submit 'Проблема', class: 'btn btn-danger' %>
                    <% end %>
                  </details>
                </div>
              <% end %>
            <% else %>
              <span>Поручений не обнаружено ╮(￣ω￣;)╭</span>
            <% end %>
          </details>
        </div>

      </div>
    <% end %>
  </div>
<% else %>
  <div class="all_tickets_on_verification_wrapper tickets_container">
    <b>Заявок на проверке обнаружено ╮(￣ω￣;)╭</b>
  </div>
<% end %>