<% if @on_verification_tickets.any? %>
  <div class="all_tickets_on_verification_wrapper tickets_container">
    <b>Заявки на проверке у клиента:</b>
    <% @own_account_tickets.where(ticket_status_id: 3).each do |ticket| %>
      <div class="ticket_on_verification_wrapper ticket_wrapper">
        <b>Заявка №<%= ticket.id %> <br> <%= ticket.title %></b>
        <div class="ticket_body"><%= ticket.body %></div>
        <span> Клиент: ID: <%= ticket.account_id %> | Email: <%= ticket.account.email %> </span>
        <span>Статус заявки: <b><%= ticket.ticket_status.status_name %></b></span>
        <span>Создана: <%= ticket.created_at %></span>
        <span>Обновлена: <%= ticket.updated_at %></span>
        <%#= form_with(model: ticket, local: true) do |form| %>
          <%#= form.hidden_field :ticket_status_id, value: 4 %>
          <%#= form.submit 'Завершить', class: 'btn btn-primary' %>
        <%# end %>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="all_tickets_on_verification_wrapper tickets_container">
    <b>Заявок на проверке обнаружено ╮(￣ω￣;)╭</b>
  </div>
<% end %>