<!DOCTYPE html>
<html>
  <head>
    <title>HomeworkProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= link_to 'Регистрация', new_account_registration_path %><br>
    <%= link_to 'Войти', account_session_path %><br>
    <%= button_to "Выйти", destroy_account_session_path, method: :delete %>

    <%= yield %>
  </body>
</html>
